body {
    background-color: rgb(245,245,245);
    font-family: Montserrat, Arial;
    font-weight: 400;
    color: rgba(6,7,7,0.87);
}

@media (min-width:992px) {
    li.nav-item a {
        position: relative;
        text-decoration: none;
    }
    
    li.nav-item a.active::after, li.nav-item a:hover::after {
        content: ''; /* Required for pseudo-elements */
        display: block;
        width: 50%; /* Sets the line width to half the width of the link */
        height: 1px; /* The thickness of the underline */
        background-color: rgb(211,90,1); /* Color of the underline */
        position: absolute;
        left: 25%; /* Centers the line (50% width - 25% left offset) */
        bottom: 8px; /* Adjusts vertical position of the line */
    }
    
    nav.navbar {
        background-color: transparent !important;
        font-size: 18px;
        padding: 40px 0;
    }

    nav.navbar li.nav-item {
        padding-left: 45px;
    }
}

div#homepage-head {
    margin-bottom: 20px;
    gap: 30px;
    height: 310px;
    display: flex;
    padding: 0px 24px;
    z-index: 1;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    color: rgba(6,7,7,0.87);;
}

div#homepage-head h1 {
    font-size: 60px;
    font-weight: 400;
}

div#homepage-head h2 {
    font-size: 34px;
    font-weight: 400;
}

div#homepage-head input {
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 12px 16px;
    width: 450px;
}

.homepage-poem-of-today-container {
    display: flex;
    flex-wrap: wrap;
}

.homepage-poem-of-today-container div.left-col {
    display: flex;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    border-radius: 16px;
    flex-direction: column;
    background-color: rgb(255,255,255);
}

.homepage-poem-of-today-container div.left-col h4 {
    color: rgb(211,90,1);
    font-size: 24px;
    font-weight: 400;
    opacity: 0.8;
}

.right-col-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.right-col-flex-container > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    border-radius: 16px;
    flex-direction: column;
    background-color: rgb(255,255,255);
    margin-bottom: 0 !important;

    font-size: 20px;

    color: rgba(6,7,7,0.87);
    opacity: 0.8;
}

.right-col-flex-container > div h4 {
    font-size: 34px;
    font-weight: 400;

}

.right-col-flex-container > div p {
    margin-bottom: 0;
}


/* Custom styles for DataTable */
.dataTables_wrapper .dataTable {
    border-collapse: collapse; /* Ensures borders are handled in the most compact way */
}

.dataTables_wrapper .dataTable th,
.dataTables_wrapper .dataTable td {
    border-right: 0px !important; /* Removes vertical borders */
    padding: 5px !important; /* Reduces padding to make it more compact */
}

/* Additional styling to make the table more compact */
.dataTables_wrapper .dataTable thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dataTables_wrapper .dataTable tbody td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.scrollable-content {
    overflow-y: auto;
}

/* book content */
ul#book-content {
    list-style: none;
    padding-left: 0;
}

ul#book-content li[data-level="1"] {
    padding-left: 10px;
}

ul#book-content li[data-level="2"] {
    padding-left: 20px;
}

ul#book-content li[data-level="3"] {
    padding-left: 30px;
}

ul#book-content li[data-level="4"] {
    padding-left: 40px;
}

ul#book-content li[data-level="5"] {
    padding-left: 50px;
}

/* book and poem text */

div.book-text, 
#poem-text-container div.poem-text, 
#poem-text-only-container div.poem-text 
{
    padding: 20px; /* Adds some space inside the div around the text */
    background-color: #fdf6e3; /* Soft background color for ease of reading */
    color: #333; /* Dark text color for contrast */
    font-family: "Times New Roman", Times, serif; /* Classic book font, but feel free to choose another */
    font-size: 18px; /* Adjust based on your preference, 18px is generally readable */
    line-height: 1.6; /* Space between lines, 1.6 is a good starting point for readability */
    margin: 20px auto; /* Centers the div and adds space around it */
    border: 1px solid #ccc; /* Adds a subtle border */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a light shadow for depth */
    border-radius: 4px; /* Optional: rounds the corners of the div */
}

/* tags for parts, poems and sections */
basen, kniha, oddil, oddilbasne, pododdil, sbirka, strofa {
    display: block;
    position: relative;
}

a.poem-link {
    position: absolute;
    top: 1px;
    right: 5px;
    z-index: 1000;
}

/* tags for an ordinary text aligned to the left */
doprovod, moto-text, obsah, tiraz, venovani, zakladnitext {
    display: block;
}

nadpis, fales-titulbasen, fales-tituloddil, nadpisvbasni, 
podtitul, podtitulbasne, podtitulsbirky, poznpodcarou, 
titulsbirka {
    display: block;
    margin-top: 10px;
}

strana {
    display: block;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 5px;
    font-size: 80%;
    color: darkgray;
}

#poem-text-only-container div.poem-text strana, 
#poem-of-today-text div.poem-text strana {
    display: none;
}

prolozeno {
    letter-spacing: 5px;
}

sifra, spisovatel, moto-autor {
    display: block;
    font-style: italic;
}

v {
    display: block;
    padding-left: 10px;
}

#poem-text-only-container div.poem-text v,
#poem-of-today-text div.poem-text v 
{
    padding-left: 0px;
}


strofa {
    display: block;
    margin-bottom: 20px;
}

vpravo {
    float: right;
}

verze[typ="puvodni"] {
    color: red;
    display: None;
}

verze[typ="editorska"] {
    color: blue;
    display: inline;
}

komentar {
    display: inline;
    position: relative;
    cursor: pointer;
    border-bottom: 1px #007bff dotted;
}

#poem-of-today-text div.poem-text komentar {
    border-bottom: none;
    cursor: default;
}

#poem-of-today-text div.poem-text verze[typ="editordska"] {
    color: inherit;
}

#poem-of-today-text div.poem-text verze[typ="puvodni"] {
    display: none;
}

.verse-number {
    color: #007bff;
    opacity: 50%; 
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 70%;
    display: inline-block;
    padding: 2px;
}