{% extends 'web/base.html' %}

{% block title %}O projektu{% endblock %}

{% block content %}
<h1 class="page-title">O projektu</h1>
<div class="long-text">
    <div>
        <p>
            Přítomná prezentační aplikace Česká elektronická knihovna – Poezie 19. a počátku 20. století
            shromažďuje a zpřístupňuje ve formě digitální knihovny 1 700 básnických knih novodobé
            česky psané poezie a je tak jedinečnou virtuální sbírkou, která nemá obdobu v žádné
            z existujících fyzických knihoven.
        </p>
        <p>
            Plnotextová databáze je budována se snahou prostředkovat v digitální podobě celek české
            básnické produkce 19. století a počátku 20. století. Hlavním záměrem je prezentovat pokud
            možno kompletní knižní dílo psané veršem autorů, kteří debutovali od konce 18. století do
            roku 1918. Pokud to okolnosti dovolí, zveřejněny jsou vždy první vydání knih. Výjimku
            představují autoři, kteří svá díla výrazně v dalších vydáních doplňovali, popř. přepracovávali,
            a autoři, kterým se dostalo edičního zpracování v souborných kriticky připravených edicích.
            V těchto případech zveřejňujeme i tato vydání. V několika případech databáze obsahuje také
            almanachy, zcela ve výjimečných případech jsou publikovány příležitostné tisky.
        </p>
        <p>
            Databáze primárně přináší textovou podobu jednotlivých knih (která zachycuje kompletní
            podobu textu, tj. včetně nebásnických textů a paratextů) s možností volby mezi přepisem
            diplomatickým a edičně upraveným (tzv. edičním). V řadě případů jsou dané knižní jednotky
            doprovozeny obrazovým materiálem (sestávajícím hlavně z ukázek obálek či ilustrací),
            popřípadě kompletní obrazovou podobou celku knihy. Každá z prezentovaných knižních
            jednotek je doprovozena databázově zpracovanými bibliografickými údaji o knize, popisem
            knižní jednotky a stručnou ediční poznámkou.
        </p>
        <p>
            Text jednotlivých básnických skladeb, sbírek a souborů je připraven podle jednotných
            edičních zásad, které jsou shrnuty v centrální ediční poznámce (viz <a
                href="{% url 'editorial_note'%}">zde</a>).
            Ediční přípravu realizoval tým editorů a editorek pod vedením Blanky Svadbové; na konci každé ze
            zveřejněných knižních jednotek je umístěna autorskou šifra (viz <a href="{% url 'editors'%}">zde</a>) a rok
            zpracování.
        </p>
        <p>
            *
        </p>
        <p>
            Myšlenka plnotextové databáze české poezie vznikla v Ústavu pro českou literaturu AV ČR v
            polovině 90. let. Pracovní skupina začala s přípravou dat pro budoucí aplikaci, a to nejprve
            s podporou Ministerstva kultury ČR, když obdržela grant nejprve na tři (1998–2000) a poté na
            čtyři roky (2001–2004). V následujících letech byl projekt podpořen z grantových prostředků
            Ministerstva školství, mládeže a tělovýchovy ČR. První výsledky tým předložil veřejnosti na
            CD-ROMu Česká elektronická knihovna – Poezie 19. století (od thámovců po lumírovce),
            který vydal ÚČL AV ČR roku 2002. V další fázi byla v součinnosti s firmou inSophy
            vyvinuta internetová podoba prezentační aplikace, která se dočkala několika rozšíření na
            konečných 1 700 básnických knih a byla v provozu do poloviny roku 2024 (o historii staré
            aplikace viz <a href="#" class="open-modal-video" data-video="video-historie"><i
                    class="bi bi-camera-reels"></i> video zde</a>).
        </p>
        <p>
            V letech 2021–2024 tým Edičního a textologického oddělení ÚČL AV ČR řešil ve spolupráci
            s programátory ČVUT grantový projekt (TL05000288) Technologické agentury ČR nazvaný
            Analýza motivických klastrů z oblasti aktuálních kulturně-společenských témat a jejich
            aplikace na materiálu uměleckých textů 19. a počátku 20. století. Projekt vedle základních
            výsledků z experimentů s analýzou motivických shluků (viz <a
                href="https://doi.org/10.51305/cl.2024.02.04">zde</a>) přinesl i novou podobu
            editačního a prezentačního rozhraní databáze.
        </p>
        <p>
            Česká elektronická knihovna díky tomuto projektu významně rozšířila možnosti práce
            s prezentovanými texty (o nástrojích ve <a href="#" class="open-modal-video"
                data-video="video-predstaveni"><i class="bi bi-camera-reels"></i> videu zde</a>). Výsledná aplikace je tak připravena
            stát se nástrojem a pomůckou pro studující a vyučující na středních i vysokých školách, pro
            výzkum i pro novou generaci čtenářů a čtenářek.
        </p>
    </div>
</div>
{% endblock %}