{% extends 'web/base.html' %}
{% load static %}

{% block title %}Badatelské nástroje{% endblock %}

{% block content %}
<div class="row" id="content-wrapper">
    <div class="col-4">
        <div id="book-filter-form">
            <form method="get" class="form">
                <div class="row g-3 mb-3">
                    <div class="col-sm-4">
                        <label for="search-in-title" class="form-label">Název knihy:</label> 
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control form-control-sm" type="text" id="search-in-title" name="search-in-title" value="" placeholder="název knihy obsahuje ...">
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm-9">
                        Rok od 
                        <select class="form-select form-select-sm" name="year-from" id="year-from">
                            <option value="">----</option>
                            {% for year in years_asc %}
                                <option value="{{ year.year }}">
                                    {{ year.year }} ({{ year.num_books}})
                                </option>
                            {% endfor %}
                        </select>
                        do
                        <select class="form-select form-select-sm" name="year-to"  id="year-to">
                            <option value="">----</option>
                            {% for year in years_desc %}
                                <option value="{{ year.year }}">
                                    {{ year.year }} ({{ year.num_books}})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 justify-content-end">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="without-year" name="without-year" value="1" checked>
                            <label class="form-check-label text-decoration-line-through" for="without-year" data-bs-toggle="tooltip" data-bs-placement="top" title="zahrnout knihy mez uvedeného roku vydání">rok</label>
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-3">
                    <div class="col-sm-2 justify-content-end">
                        <label for="authors" class="form-label">Autoři:</label> 
                    </div>
                    <div class="col-sm-10 justify-content-end">
                        <select class="form-control" name="authors" id="authors" multiple>
                            {% for author in authors %}
                                <option value="{{ author.id }}">{{ author.surname }}, {{ author.firstname }} ({{ author.num_books }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-end filter-form-buttons">
                        <button id="filter-button">fitrovat</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row g-0">
                <div class="col-sm-5 d-flex justify-content-end">
                    Řadit podle:
                </div>
                <div class="col-sm-7 d-flex justify-content-end filter-form-buttons" id="ordering-buttons">
                    <button id="sort-title" class="sort-button active">názvu</button>
                    <button id="sort-year" class="sort-button">roku</button> 
                    <button id="sort-author" class="sort-button">autora</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12 filter-form-buttons">
                    <button id="select-all-filter">
                        vybrat všechny knihy níže (celkem <span id="filtered-book-count">{{ books|length }}</span>)
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="book-filter-list">
            {% for book in books %}
                <span class="book-item filtered" data-title="{{ book.title }}" data-year="{{ book.year|default:0 }}" data-author="{{ book.display_authors }}" data-book-id="{{ book.id }}" onclick='selectBook({{ book.id }});'>
                    <span class="title">{{ book.title|safe }}</span>
                    (<span class="year">{{ book.year|default:"rok neuveden" }}</span>)
                    <span class="author">{{ book.display_authors }}</span>
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <div id="book-selected-intro">
            <h4>Vybrané knihy</h4>
            <ul>
                <li>Pouze v těchto knihách se bude vyhledávat pomocí formuláře vpravo.</li>
                <li>Do seznamu můžete přidávat další knihy pomocí seznamu vlevo.</li>
            </ul>
            <div class="row mt-3">
                <div class="col-sm-12 filter-form-buttons">
                    <button id="unselect-all">
                        smazat všechny vybrané knihy
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="book-selected-list">
            {% for book in books %}
                <span class="book-item" data-book-id="{{ book.id }}" onclick='unselectBook({{ book.id }});'>
                    <span class="title">{{ book.title|safe }}</span>
                    (<span class="year">{{ book.year|default:"rok neuveden" }}</span>)
                    <span class="author">{{ book.display_authors }}</span>
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="col-4">
        <div id="search-poems-intro">
            <h4>Vyhledat básně</h4>
            <form method="post" class="form" id="poem-search-form">
                {% csrf_token %}
                <input type="hidden" value="" name="selected-books" id="selected-books">
                <div class="row g-3 mb-3">
                    <div class="col-sm-3">
                        <label for="poem-fulltext" class="form-label">Fulltext:</label> 
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control form-control-sm" type="text" id="poem-fulltext" name="poem-fulltext" value="" placeholder="text básně obsahuje ...">
                    </div>
                    <div class="col-sm-3">
                        <label for="poem-clusters" class="form-label">Patří do shluků:</label> 
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" name="poem-clusters" id="poem-clusters" multiple>
                            {% for id, cluster in clusters.items %}
                                <option title="{{ cluster.description }}" value="{{ id }}">{{ cluster.description_short }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12 d-flex justify-content-end filter-form-buttons">
                        <span id="search-results-msg"></span><button id="poem-search-button">hledat</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="search-poems-list">

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" charset="utf8" src="{% static 'web/js/search-data.js'%}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'web/js/choices.min.js'%}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var authorsForm = document.getElementById('authors');
        var choices = new Choices(authorsForm, {
            removeItemButton: true,
            searchResultLimit: 10,
            renderSelectedChoices: 'always',
            itemSelectText: 'vybrat',
            allowHTML: true,
        });

        var clustersForm = document.getElementById('poem-clusters');
        var choices = new Choices(clustersForm, {
            removeItemButton: true,
            searchResultLimit: 10,
            renderSelectedChoices: 'always',
            itemSelectText: '',
            allowHTML: true,
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        document.getElementById('select-all-filter').addEventListener('click', function() {
            const filteredItems = document.querySelectorAll('#book-filter-list span.filtered');
            const bookIds = Array.from(filteredItems).map(item => item.getAttribute('data-book-id'));
            bookIds.forEach(bookId => {
                $(`#book-selected-list .book-item[data-book-id='${bookId}']`).addClass('selected');
            });
            updateBookIdsInHidden();
        });

        document.getElementById('unselect-all').addEventListener('click', function() {
            $('#book-selected-list .selected').each(function(index, element) {
                $(element).removeClass('selected');
            });
        });
    });
</script>
<script>
    function updateBookItemClasses(matchingBookIds) {
        const bookItems = document.querySelectorAll('span.book-item');
        const matchingBookIdSet = new Set(matchingBookIds);

        bookItems.forEach(item => {
            const bookId = item.getAttribute('data-book-id');
            
            if (matchingBookIdSet.has(bookId)) {
                item.classList.add('filtered');
                item.classList.remove('unfiltered');
            } else {
                item.classList.add('unfiltered');
                item.classList.remove('filtered');
            }
        });
    }

    function selectBook(id_book) {
        // Find the element with the given data-book-id
        const bookItem = document.querySelector(`#book-selected-list .book-item[data-book-id='${id_book}']`);

        // If the element exists, add the 'selected' class
        if (bookItem) {
            bookItem.classList.add('selected');
        }

        updateBookIdsInHidden();
    }

    function unselectBook(id_book) {
        // Find the element with the given data-book-id
        const bookItem = document.querySelector(`#book-selected-list .book-item[data-book-id='${id_book}']`);

        // If the element exists, add the 'selected' class
        if (bookItem) {
            bookItem.classList.remove('selected');
        }

        updateBookIdsInHidden();
    }


    function updateBookIdsInHidden() {
        const selectedElements = document.querySelectorAll('.book-item.selected');
        const selectedBookIds = Array.from(selectedElements).map(element => element.getAttribute('data-book-id'));
            
        const input = document.getElementById('selected-books');
        input.value = '';

        input.value = selectedBookIds.join(',');
    }

    // Function to get the CSRF token from the cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    $(document).ready( function () {
        var headingHeight = getElementHeightWithMargin(document.querySelector('nav')) 
                        + getElementHeightWithMargin(document.querySelector('footer'))
                        +  44; 
        $('#content-wrapper').height(document.documentElement.clientHeight - headingHeight);
        $('#book-filter-list').height($('#content-wrapper').height() - $('#book-filter-form').height() + 14);
        $('#book-selected-list').height($('#content-wrapper').height() - $('#book-selected-intro').height()+0);
        $('#search-poems-list').height($('#content-wrapper').height() - $('#search-poems-intro').height()-14);

        // ResizeObservers
        const bookFilterForm = document.getElementById('book-filter-form');
        const resizeObserverFilterForm = new ResizeObserver(entries => {
            for (let entry of entries) {
                $('#book-filter-list').height($('#content-wrapper').height() - $('#book-filter-form').height() + 14);
            }
        });
        resizeObserverFilterForm.observe(bookFilterForm);

        const poemForm = document.getElementById('search-poems-intro');
        const resizeObserverPoemForm = new ResizeObserver(entries => {
            for (let entry of entries) {
                $('#search-poems-list').height($('#content-wrapper').height() - $('#search-poems-intro').height()-14);
            }
        });
        resizeObserverPoemForm.observe(poemForm);
       
        /*
         *List of books - filtering
         */
         $('#filter-button').click(function(event) {
            event.preventDefault();

            // Read values from the form inputs
            var searchInTitle = $('#search-in-title').val().toLowerCase();
            var yearFrom = $('#year-from').val();
            var yearTo = $('#year-to').val();
            var withoutYearCheckbox = document.getElementById('without-year').checked;
            var authors = $('#authors').val();

            // Get all book items
            var bookItems = document.querySelectorAll('#book-filter-list .book-item');
            var matchingBookIds = Array.from(bookItems).map(function(item) {
                return item.getAttribute('data-book-id');
            });
            // filter by title search
            var matchingBookIdsTitleYear = Array.from(bookItems).filter(function(item) {
                var title = item.getAttribute('data-title').toLowerCase();
                var year = parseInt(item.getAttribute('data-year'), 10);
                yearFromBool = true;
                if(yearFrom > 0 && year > 0) {
                    yearFromBool = (year >= yearFrom);
                }
                yearToBool = true;
                if(yearTo > 0 && year > 0) {
                    yearToBool = (year <= yearTo);
                }
                withoutYearBool = true
                if(year != 0 && withoutYearCheckbox) {
                    withoutYearBool = (yearFromBool && yearToBool)
                } else if(year == 0 && !withoutYearCheckbox) {
                    withoutYearBool = false
                } else if(year == 0 && withoutYearCheckbox) {
                    withoutYearBool = true
                }
                return title.includes(searchInTitle) && (yearFromBool && yearToBool) && withoutYearBool;
            }).map(function(item) {
                return item.getAttribute('data-book-id');
            });
            matchingBookIds = getIntersection(matchingBookIds, matchingBookIdsTitleYear);

            if(authors.length > 0) {
                let authorsBooks = new Set();
                for(let i = 0; i < authors.length; i++) {
                    author_book[authors[i]].forEach(aid => authorsBooks.add("" + aid))
                }
                matchingBookIds = getIntersection(matchingBookIds, Array.from(authorsBooks));
            }
            
            updateBookItemClasses(matchingBookIds);

            $('span#filtered-book-count').text(matchingBookIds.length)
        });
        /*
         * List of books - sorting
         */
        var sortOrder = {
                title: 'asc',
                year: 'asc',
                author: 'asc'
        };

        function sortBooks(attribute, order) {
            var items = $('#book-filter-list .book-item');
            items.sort(function(a, b) {
                var aValue = $(a).data(attribute);
                var bValue = $(b).data(attribute);

                if (order === 'asc') {
                    return aValue > bValue ? 1 : (aValue < bValue ? -1 : 0);
                } else {
                    return aValue < bValue ? 1 : (aValue > bValue ? -1 : 0);
                }
            });
            $('#book-filter-list').html(items);
        }

        $('#sort-title').click(function() {
            $("#ordering-buttons button").removeClass('active');
            $(this).addClass('active');
            sortBooks('title', sortOrder.title);
            sortOrder.title = (sortOrder.title === 'asc') ? 'desc' : 'asc';
        });

        $('#sort-year').click(function() {
            $("#ordering-buttons button").removeClass('active');
            $(this).addClass('active');
            sortBooks('year', sortOrder.year);
            sortOrder.year = (sortOrder.year === 'asc') ? 'desc' : 'asc';
        });

        $('#sort-author').click(function() {
            $("#ordering-buttons button").removeClass('active');
            $(this).addClass('active');
            sortBooks('author', sortOrder.author);
            sortOrder.author = (sortOrder.author === 'asc') ? 'desc' : 'asc';
        });

        /*
         * SUBMITTING SEARCH FORM
         */
         $('#poem-search-button').click(function(event) {
            event.preventDefault();
            const url = window.location.href + '-vysledky';

            // Get CSRF token
            const csrftoken = getCookie('csrftoken');

            // Serialize the form data
            const formData = $('#poem-search-form').serialize();

            $('#search-poems-list').html(`
                <div class="text-center my-3">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            `);

            $('#search-results-msg').text('')


            // Perform the AJAX request
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                dataType: 'json',
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                },
                success: function(response) {
                    // Handle the response
                    if (response.code === 1) {
                        let resultMsq = `Nalezeno básní: ${response.num_poems}.`;
                        if(response.num_poems > response.max_results) {
                            resultMsq += ` Zobrazeno prvních ${response.max_results}.`
                        } else {
                            resultMsq += ''
                        }
                        $('#search-results-msg').text(resultMsq)
                        let resultHtml = '';
                        response.poems.forEach(poem => {
                            let title = "";
                            if(poem.title) {
                                title = poem.title.replace(/<\/?[^>]+(>|$)/g, "")
                            } 
                            if(title.trim() == "") {
                                title = '<i>báseň bez názvu</i>'
                            }
                            let author_text = ""
                            if(poem.author.trim() != "") {
                                author_text = `, <span class="author">${poem.author}</span>`
                            }
                            resultHtml += `
                                <span class="book-item">
                                    <span class="title"><a href="${poem.link}" target="_blank">${title}</a></span>,  
                                    <span class="book">${poem.book_title}</span>${author_text}
                                </span>`;
                        });
                        $('#search-poems-list').html(resultHtml);
                    } else {
                        $('#search-poems-list').html('<p>Při hledání se něco pokazilo. Zkuste prosím znovu načíst stránku, když problémy přetrvají, konatktujte administrátora.</p>');
                    }
                },
                error: function() {
                    // Handle errors
                    $('#search-poems-list').html('<p>Při hledání se něco pokazilo. Zkuste prosím znovu načíst stránku, když problémy přetrvají, konatktujte administrátora.</p>');
                }
            });
        });
    });
</script>
{% endblock %}