{% extends 'web/base.html' %}
{% load web_tags %}

{% block title %}{{ author }}{% endblock %}

{% block content %}
<h1 class="page-title">{{ author }}</h1>
<p class="author-dates">
    * {{author.date_of_birth|date:"d. m. Y"|default:'<i>neznámé datum narození</i>'}}
    {% if author.place_of_birth_original_name %}
        {{author.place_of_birth|default:''}} (pův. {{ author.place_of_birth_original_name }}),
    {% else %}
        {{author.place_of_birth|default:''}},
    {% endif %}
    † {{author.date_of_death|date:"d. m. Y"|default:'<i>neznámé datum úmrtí</i>'}}
    {% if author.place_of_death_original_name %}
        {{author.place_of_death|default:''}} (pův. {{ author.place_of_death_original_name }})
    {% else %}
        {{author.place_of_death|default:''}}
    {% endif %}
</p>
{% if pseudonyms|length > 0 %}
<p class="author-dates"><i>další jména</i>: 
    {% for p in pseudonyms %}
        {{ p }}{% if forloop.counter < pseudonyms|length %},{% endif %}
    {% endfor%}
</p>
{% endif %}
<div class="row">
    <div class="col-md-9">
        <div class="content-table-wrapper">
            <h2 class="page-subtitle">Knihy autora</h2>
            <table id="booksTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Název</th>
                        <th>Rok</th>
                        <th>Jméno autora</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.title|safe }}</td>
                        <td>{{ book.year| default:'<i>neznámý</i>' }}</td>
                        <td>
                            {% if book.authorships.all|length > 2%}
                                {% for as in book.authorships.all %}
                                    {% if as.person.id == author.id or as.person.pseudonym_for.id == author.id %}
                                        {{ as.person.surname }}&nbsp;{{ as.person.firstname|replace_spaces|safe }}
                                    {% endif %}
                                {% endfor %}
                                {% if book.authorships.all|length > 5%}
                                    <i>(a dalších {{ book.authorships.all|length|add:"-1" }} autorů)</i>
                                    {% elif book.authorships.all|length > 3%}
                                    <i>(a další {{ book.authorships.all|length|add:"-1"  }} autoři)</i>
                                    {% endif %}
                            {% else%}
                                {% for as in book.authorships.all %}
                                    {% if forloop.counter > 1 %};{% endif %}
                                    {{ as.person.surname }}&nbsp;{{ as.person.firstname|replace_spaces|safe }}
                                {% empty %}
                                    <i>neznámý autor</i>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td><a href="{% url 'book_detail' id=book.id %}">detail</a></td>
                        <td>
                            {{ book.title|safe|remove_diacritics }}
                            {% if book.authorships.all|length > 2%}
                                {% for as in book.authorships.all %}
                                    {% if as.person.id == author.id or as.person.pseudonym_for.id == author.id %}
                                        {{ as.person.surname|remove_diacritics }}
                                        {{ as.person.firstname|replace_spaces|safe|remove_diacritics }}
                                    {% endif %}
                                {% endfor %}
                            {% else%}
                                {% for as in book.authorships.all %}
                                    {{ as.person.surname|remove_diacritics }}
                                    {{ as.person.firstname|replace_spaces|safe|remove_diacritics }}
                                {% empty %}
                                    neznamy autor
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="content-table-wrapper">
            <p>
                <b>interní poznámka:</b><br/>{{ author.remark|default:'<i>prázdná</i>' }}
            </p>
            <p>
                <b>popis:</b><br/>{{ author.description|default:'<i>prázdný</i>' }}
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready( function () {
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "czech-asc": function(a, b) {
            return a.localeCompare(b, 'cs', {sensitivity: 'case'});
        },
        "czech-desc": function(a, b) {
            return b.localeCompare(a, 'cs', {sensitivity: 'case'});
        }
    });

    $('#booksTable').DataTable({
        order : [[0, 'asc'], [1, 'asc']],
        pageLength: 25,
        columnDefs: [
            { targets: [-1], visible: false, searchable: true },
            { type: 'czech', targets: '_all' },
            { "orderable": false, "targets": -2 },
        ],
        language: dataTableCS,
    });
} );
</script>
{% endblock %}