{% extends 'web/base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h1>{{ book.title|safe }}</h1>
<h4>
{% for a in book.authorships.all %}
    {% if a.person.pseudonym_for %}
        <a href="{% url 'author_detail' id=a.person.pseudonym_for.id %}">{{ a.person }}</a>{% if forloop.counter < book.authorships.all|length  %}, {% endif %}
    {% else %}
        <a href="{% url 'author_detail' id=a.person.id %}">{{ a.person }}</a>{% if forloop.counter < book.authorships.all|length  %}, {% endif %}
    {% endif %}
{% empty %}
<i>autor neznámý</i>
{% endfor %}
</h4>
<p>
    <b>Podtitul:</b> {{ book.subtitle|default:'<i>neuvedeno</i>'|safe}}<br/>
    <b>Místo:</b> {{ book.place_of_publication|default:'<i>neuvedeno</i>'}}<br/>
    <b>Nakladatel:</b> {{ book.publisher|safe|default:'<i>neuveden</i>'}}<br/>
    <b>Rok vydání:</b> {{ book.year|default:'<i>neuveden</i>'}}<br/>
    <b>Vydání:</b> {{ book.edition|default:'<i>neuvedena</i>'}}<br/>
    <b>Počet stran:</b> {{ book.pages|default:'<i>neuvedeno</i>'}}<br/>
    <b>Formát:</b> {{ book.format|default:'<i>neuvedeno</i>'}}<br/>
    <b>Zdroj. signatura:</b> {{ book.signature|default:'<i>neuvedeno</i>'}}<br/>
    <b>Autor motta:</b> {{ book.author_of_motto|default:'<i>neuveden</i>'}}<br/>
    <b>Autor v původní XML:</b> {{ book.author_xml|default:'<i>neuveden</i>'}}<br/>
</p>
<h5>Moto</h5>
<p>
    {{ book.motto|default:'<i>neuvedeno</i>'|safe}}<br/>
</p>
<h5>Popis knihy</h5>
<p>
    {{ book.description|default:'<i>neuveden</i>'|safe}}<br/>
</p>
<h5>Ediční poznámka</h5>
<p>
    {{ book.editorial_note|default:'<i>neuvedena</i>'|safe}}<br/>
</p>
<div class="row">
    <div class="col-3" id="left-column">
        {{ book.content|safe }}
    </div>
    <div class="col-6 scrollable-content" id="middle-column">
        {{ book.complete_text|safe }}
    </div>
    <div class="col-3" id="right-column">
        
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        var leftColumnHeight = Math.max($('#left-column ul').height(),800);
        $('#middle-column').height(leftColumnHeight);
        $('#right-column').height(leftColumnHeight);
    });
</script>
{% endblock %}