{% extends 'web/base.html' %}

{% block title %}{{ book.title|safe }}{% endblock %}

{% block content %}
<div id="page-title-wrapper">
<h1 class="page-title">{{ book.title|safe }}{% if book.year %} ({{ book.year }}){% endif %}</h1>
{% if book.subtitle %}
<h2 class="page-subtitle">{{ book.subtitle|safe }}</h2>
{% endif %}
<h4>
    {% for a in book.authorships.all %}
        {% if a.person.pseudonym_for %}
            <a href="{% url 'author_detail' id=a.person.pseudonym_for.id %}">{{ a.person }}</a>{% if forloop.counter < book.authorships.all|length  %}, {% endif %}
        {% else %}
            <a href="{% url 'author_detail' id=a.person.id %}">{{ a.person }}</a>{% if forloop.counter < book.authorships.all|length  %}, {% endif %}
        {% endif %}
    {% empty %}
        <i>autor neznámý</i>
    {% endfor %}
</h4>
{% if not show_text %}
    <div class="alert alert-warning" role="alert">
        Tato kniha je chráněna autorskými právy, bude zveřejněna až v roce 
        <b>{{ book.public_domain_year|default:"<i>rok zveřejnění není nastaven</i>"}}</b>.
    </div>
{% endif %}
</div>
<div class="row" id="book-content-wrapper">
    <div class="col-md-3 col-wrapper scrollable-content" id="left-column">
        {{ book.content|safe }}
    </div>
    <div class="col-md-6 scrollable-content" id="middle-column">
        <div id="text-versions">
            <div>
                <a href="#" class="verze-toggle" id="puvodni">Diplomatická verze</a>
                <a href="#" class="verze-toggle active" id="editorska">Ediční verze</a>
            </div>
        </div>
        {{ book.complete_text|safe }}
    </div>
    <div class="col-md-3 col-wrapper scrollable-content" id="right-column">
        <div class="book-info">
        {% if book.publisher %}
            <p><i>Nakladatel</i>: {{ book.publisher|safe }}</p>
        {% endif %}
        {% if book.place_of_publication %}
            <p><i>Místo</i>: {{ book.place_of_publication|safe }}</p>
        {% endif %}
        {% if book.edition %}
            <p><i>Vydání</i>: {{ book.edition|safe }}</p>
        {% endif %}
        {% if book.pages %}
            <p><i>Počet stran</i>: {{ book.pages|safe }}</p>
        {% endif %}
        {% if book.dedication %}
            <p><i>Věnování</i>: {{ book.dedication|safe }}</p>
        {% endif %}
        {% if book.author_of_motto %}
            <p><i>Autor motta</i>: {{ book.author_of_motto|safe }}</p>
        {% endif %}
        {% if book.author_of_motto %}
            <p><i>Motto</i>: {{ book.author_of_motto|safe }}</p>
        {% endif %}
        <div id="book-desc-ed">
            {% if book.description %}
                <!-- Button trigger modal -->
                <button type="button" class="" data-bs-toggle="modal" data-bs-target="#bookDescriptionModal">
                    popis knihy
                </button>{% endif %}
            {% if book.editorial_note %}
                <!-- Button trigger modal -->
                <button type="button" class="" data-bs-toggle="modal" data-bs-target="#bookEditorialNoteModal">
                    ediční poznámka
                </button>
            {% endif %}
        </div>
        {% if book.description %}
            <!-- Modal -->
            <div class="modal fade" id="bookDescriptionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bookDescriptionModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bookDescriptionModalLabel">Popis knihy {{ book|safe }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    {{ book.description|safe }}
                    <br><br>
                    {% if book.format %}
                        <p><i>Formát</i>: {{ book.format|safe }}</p>
                    {% endif %}
                    {% if book.source_signature %}
                        <p>
                            <i>Zdroj. signatura</i>: {{ book.source_signature|safe }}
                        </p>
                    {% endif %}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">zavřít</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
        {% if book.editorial_note %}
            <!-- Modal -->
            <div class="modal fade" id="bookEditorialNoteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bookEditorialNoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bookEditorialNoteModalLabel">Ediční poznámka</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    {{ book.editorial_note|safe }}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">zavřít</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}  
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        if(window.innerWidth > 768) {
            var headingHeight = getElementHeightWithMargin(document.querySelector('nav')) 
                            +  getElementHeightWithMargin(document.querySelector('#page-title-wrapper'))
                            + getElementHeightWithMargin(document.querySelector('footer'))
                            +  44; 
            $('#book-content-wrapper').height(document.documentElement.clientHeight - headingHeight);
        }
        var komentars = document.querySelectorAll('komentar');
        komentars.forEach(function(komentar) {
            var dataText = komentar.getAttribute('data-text');
            komentar.setAttribute('title', dataText);
        });

        $('komentar').tooltip()

        if(!document.querySelector('#middle-column').querySelector('verze')) {
            document.querySelector('#text-versions').style.display = 'none';
        }
        
        document.querySelectorAll('a.verze-toggle').forEach(function (click) {
            click.addEventListener('click', function (event) {
                event.preventDefault();
                document.querySelectorAll('a.verze-toggle').forEach(function (toggle) {
                    toggle.classList.remove('active');
                });
                this.classList.add('active');
                
                // Display Původní verze content if the 'puvodni' link is clicked
                if (this.id === 'puvodni') {
                    document.querySelectorAll('verze[typ="puvodni"]').forEach(function(verze) {
                        verze.style.display = 'inline';
                    });
                    document.querySelectorAll('verze[typ="editorska"]').forEach(function(verze) {
                        verze.style.display = 'none';
                    });
                }
                // Display Editorská verze content if the 'editorska' link is clicked
                else if (this.id === 'editorska') {
                    document.querySelectorAll('verze[typ="puvodni"]').forEach(function(verze) {
                        verze.style.display = 'none';
                        
                    });
                    document.querySelectorAll('verze[typ="editorska"]').forEach(function(verze) {
                        verze.style.display = 'inline';
                    });
                }
            });
        });
    });
</script>
{% endblock %}