{% extends 'web/base.html' %}
{% load web_tags %}

{% block title %}Seznam knih{% endblock %}

{% block content %}
<h1 class="page-title">Knihy</h1>
<div class="content-table-wrapper">
    <table id="booksTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Název</th>
                <th>Rok</th>
                <th>Autor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title|safe }}</td>
                <td>{{ book.year| default:'<i>neznámý</i>' }}</td>
                <td>
                    {% if book.authorships.all|length > 4%}
                        <i>{{ book.authorships.all|length }} autorů</i>
                    {% elif book.authorships.all|length > 2%}
                        <i>{{ book.authorships.all|length }} autoři</i>
                    {% else%}
                        {% for as in book.authorships.all %}
                            {% if forloop.counter > 1 %};{% endif %}
                            {{ as.person.surname }}&nbsp;{{ as.person.firstname|replace_spaces|safe }}
                        {% empty %}
                            <i>neznámý autor</i>
                        {% endfor %}
                    {% endif %}
                </td>
                <td><a href="{% url 'book_detail' id=book.id %}">detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready( function () {
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "czech-asc": function(a, b) {
            return a.localeCompare(b, 'cs', {sensitivity: 'case'});
        },
        "czech-desc": function(a, b) {
            return b.localeCompare(a, 'cs', {sensitivity: 'case'});
        }
    });


    $('#booksTable').DataTable({
        order : [[1, 'asc'], [2, 'asc']],
        pageLength: 25,
        columnDefs: [
            { type: 'czech', targets: '_all' },
            { "orderable": false, "targets": -1 },
        ],
        language: dataTableCS,
    });
} );
</script>
{% endblock %}
