{% extends 'web/base.html' %}

{% block title %}Soupis šifer editorů{% endblock %}

{% block content %}
<h1>Soupis šifer editorů</h1>
<p>
    Vypracoval autorský tým za vedení a redakce <b>Blanky Svadbové</b>:
</p>
<ul>
    <li>Josef Boček (jb),</li>
    <li>Tomáš Breň (tb),</li>
    <li>Zuzana Dětáková (zd),</li>
    <li>Stanislava Fedrová (sf),</li>
    <li>Jiří Flaišman (jf),</li>
    <li>Petr Holman (ph),</li>
    <li>Jana Jačková (jj),</li>
    <li>Kamila Karhanová (kk),</li>
    <li>Lucie Kettnerová (lk),</li>
    <li>Pavel Kořínek (pk),</li>
    <li>Michal Kosák (mk),</li>
    <li>Dana Packová (dp),</li>
    <li>Lucie Peisertová (lp),</li>
    <li>Jakub Sedláček (js),</li>
    <li>Tereza Schautová,</li>
    <li>Alena Šporková (aš),</li>
    <li>Andrea Vítová (av),</li>
    <li>Anna Železná (až).</li>
</ul>
{% endblock %}