{% extends 'web/base.html' %}

{% block title %}Pro školy{% endblock %}

{% block content %}
<h1 class="page-title">Pro školy</h1>
<div class="long-text"><div>
    <p>
        <a href="#" class="video-link"><i class="bi bi-play-btn"></i> kde jste a co tu najdete </a>
    </p>
    <ul>
        <li>pro potřeby <b>studujících a vyučujících</b> připravený výběr básnických knih z dějin
            české poezie 19. a počátku 20. století</li>
        <li>o každém autorovi či autorce i knize z tohoto výběru se dozvíte <b>více v připojených
            materiálech</b></li>
        <li>odkazujeme jen na <b>spolehlivé a prověřené zdroje</b> – všechny odkazované příručky
            vznikly prací Ústavu pro českou literaturu AV ČR (<i>Lexikon české literatury</i>,
            slovník <i>Čeští spisovatelé 19. a počátku 20. století, Slovník básnických knih</i>)</li>
        <li><b>videa</b> na stránce vám pomohou při zacházení s nástroji databáze a ukážou škálu
            jejich možného využití</li>
    </ul>
    <div class="row">
        <div class="col-md-7">
            <h5>Studujete? Bude se vám hodit</h5>
            <ul>
                {% for book in books %}
                    <li>
                        <a href="{% url 'book_detail' book.id %}">{{ book|safe }} </a>
                        {% if book.year %}({{ book.year }}){% endif %}
                    </li>
                {% endfor %}
                {% for author, abooks in authors.items %}
                    <li><a href="{% url 'author_detail' author.id %}">{{ author.surname }}, {{ author.firstname }}</a>
                        <ul>
                            {% for book in abooks %}
                                <li>
                                    <a href="{% url 'book_detail' book.id %}">{{ book|safe }}</a>
                                    {% if book.year %}({{ book.year }}){% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-5">
            <h5>Návody a inspirace k využití databáze</h5>
            <p>
                <a href="#" class="video-link"><i class="bi bi-play-btn"></i> Jak hledat konkrétní motiv?</a>
            </p>
            <p>
                <a href="#" class="video-link"><i class="bi bi-play-btn"></i> Jak používat motivické klastry?</a>
            </p>
            <p>
                <a href="#" class="video-link"><i class="bi bi-play-btn"></i> Jak kombinovat kritéria při třídění sbírek?
                </a>
            </p>
        </div>
    </div>
</div></div>
{% endblock %}