{% load web_tags %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'web/images/ucl-logo-nav.png' %}"/>
        </a>
        <!-- Toggle button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navigation items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% is_active 'index' %}" href="{% url 'index' %}">Domů</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% is_active 'author_list' 'author_detail' %}" href="{% url 'author_list' %}">Autoři</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% is_active 'book_list' 'book_detail' %}" href="{% url 'book_list' %}">Knihy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% is_active 'for_schools' %}" href="{% url 'for_schools' %}">Pro školy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% is_active 'advanced_search' %}" href="{% url 'advanced_search' %}">Badatelské nástroje</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
