{% extends "web/poem_base.html" %}

{% block poem_title %} - text{% endblock %}

{% block poem_content %}
    <div id="poem-text-only-container">
        <div id="text-versions">
            <div>
                <a href="#" class="verze-toggle" id="puvodni">Diplomatická verze</a>
                <a href="#" class="verze-toggle active" id="editorska">Ediční verze</a>
            </div>
        </div>
        {{ poem.html_text|safe }}
    </div>
{% endblock%}

{% block poem_right_content%}
    <p>
        Kniha <a href="{% url 'book_detail' id=poem.book.id %}">{{ poem.book.title|safe }}</a>
        {% if poem.book.year %} ({{ poem.book.year }}){% endif %}
        <br>
        Autor 
        {% if poem.author %}
            {% if poem.author.pseudonym_for %}
                <a href="{% url 'author_detail' id=poem.author.pseudonym_for.id %}">{{ poem.author.pseudonym_for }}</a>
            {% else %}
                <a href="{% url 'author_detail' id=poem.author.id %}">{{ poem.author }}</a>
            {% endif %}
        {% endif%}
        {% if next_issues|length > 0 %}
            <h4>Další vydání</h4>
            {% for ni in next_issues %}
                {% if ni.id != poem.id %}
                    <p>
                        <a href="{% url 'poem_text' id=ni.id %}">{{ poem|striptags|safe }}</a> 
                        v knize <a href="{% url 'book_detail' id=ni.book.id %}">
                            {{ ni.book }}
                            </a>
                            {% if ni.book.year %} ({{ ni.book.year }}){% endif %}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </p>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        var headingHeight = getElementHeightWithMargin(document.querySelector('nav')) 
                        +  getElementHeightWithMargin(document.querySelector('#page-title-wrapper'))
                        + getElementHeightWithMargin(document.querySelector('footer'))
                        +  44; 
        $('#book-content-wrapper').height(document.documentElement.clientHeight - headingHeight);

        var komentars = document.querySelectorAll('komentar');
        komentars.forEach(function(komentar) {
            var dataText = komentar.getAttribute('data-text');
            komentar.setAttribute('title', dataText);
        });
        
        $('komentar').tooltip()

        if(!document.querySelector('#poem-text-only-container').querySelector('verze')) {
            document.querySelector('#text-versions').style.display = 'none';
        }
        
        document.querySelectorAll('a.verze-toggle').forEach(function (click) {
            click.addEventListener('click', function (event) {
                event.preventDefault();
                document.querySelectorAll('a.verze-toggle').forEach(function (toggle) {
                    toggle.classList.remove('active');
                });
                this.classList.add('active');
                
                // Display Původní verze content if the 'puvodni' link is clicked
                if (this.id === 'puvodni') {
                    document.querySelectorAll('verze[typ="puvodni"]').forEach(function(verze) {
                        verze.style.display = 'inline';
                    });
                    document.querySelectorAll('verze[typ="editorska"]').forEach(function(verze) {
                        verze.style.display = 'none';
                    });
                }
                // Display Editorská verze content if the 'editorska' link is clicked
                else if (this.id === 'editorska') {
                    document.querySelectorAll('verze[typ="puvodni"]').forEach(function(verze) {
                        verze.style.display = 'none';
                        
                    });
                    document.querySelectorAll('verze[typ="editorska"]').forEach(function(verze) {
                        verze.style.display = 'inline';
                    });
                }
            });
        });

        // verse numbers
        const container = document.querySelector('#poem-text-only-container');
        // Get all strofa elements within the container
        const strofas = container.querySelectorAll('strofa');

        // Iterate over each strofa
        strofas.forEach(function(strofa, strofaIndex) {
            // Get all verse (<v>) elements within the current strofa
            const verses = strofa.querySelectorAll('v');

            // Iterate over each verse
            verses.forEach(function(verse, verseIndex) {
                // Create a span element for the verse number
                const verseNumberSpan = document.createElement('span');
                verseNumberSpan.classList.add('verse-number');
                // Set the text of the span to match the format {strofaIndex + 1}-{verseIndex + 1}
                verseNumberSpan.textContent = `${strofaIndex + 1}-${verseIndex + 1}`;

                // Insert the verse number span before the verse text
                verse.insertBefore(verseNumberSpan, verse.firstChild);
            });
        });
    });
</script>
{% endblock %}