{% extends "web/poem_base.html" %}

{% block poem_title %} - AI{% endblock %}

{% block poem_content %}
    <div id="poem-text-only-container">
        {{ poem.html_text|safe }}
    </div>
{% endblock%}

{% block poem_right_content%}

{% endblock %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        var headingHeight = getElementHeightWithMargin(document.querySelector('nav')) 
                        +  getElementHeightWithMargin(document.querySelector('#page-title-wrapper'))
                        + getElementHeightWithMargin(document.querySelector('footer'))
                        +  44; 
        $('#book-content-wrapper').height(document.documentElement.clientHeight - headingHeight);

        var komentars = document.querySelectorAll('komentar');
        komentars.forEach(function(komentar) {
            var dataText = komentar.getAttribute('data-text');
            komentar.setAttribute('title', dataText);
        });
        
        $('komentar').tooltip()
    });
</script>
{% endblock %}