{% extends "web/poem_base.html" %}

{% block poem_content%}
    <div id="poem-text-container">
        <div id="text-versions">
            <div>
                <a href="#" class="verze-toggle" id="puvodni">Diplomatická verze</a>
                <a href="#" class="verze-toggle active" id="editorska">Ediční verze</a>
            </div>
        </div>
        {{ poem.html_text|safe }}
    </div>
{% endblock%}

{% block poem_right_content%}
    Básně v knize <a href="{%url 'book_detail' id=poem.book.id %}">{{ poem.book.title|safe }}</a>:
    <ol>
        {% for p in poems_in_book %}
        {% if p.id == poem.id %}
            <li>{{ p|safe }}</li>
        {% else %}
            <li><a href="{% url 'poem_in_book' id=p.id %}">{{ p|safe }}</a></li>
        {% endif %}
        {% empty %}
        <li>V této knize nejsou žádné básně.</li>
        {% endfor %}
    </ol>
{% endblock %}


{% block extra_js %}
<script>
    $(document).ready( function () {
        var headingHeight = getElementHeightWithMargin(document.querySelector('nav')) 
                        +  getElementHeightWithMargin(document.querySelector('#page-title-wrapper'))
                        + getElementHeightWithMargin(document.querySelector('footer'))
                        +  44; 
        $('#book-content-wrapper').height(document.documentElement.clientHeight - headingHeight);

        var komentars = document.querySelectorAll('komentar');
        komentars.forEach(function(komentar) {
            var dataText = komentar.getAttribute('data-text');
            komentar.setAttribute('title', dataText);
        });
        
        $('komentar').tooltip()

        if(!document.querySelector('#poem-text-container').querySelector('verze')) {
            document.querySelector('#versions-selector').style.display = 'none';
        }
        
        document.querySelectorAll('a.verze-toggle').forEach(function (click) {
            click.addEventListener('click', function (event) {
                event.preventDefault();
                document.querySelectorAll('a.verze-toggle').forEach(function (toggle) {
                    toggle.classList.remove('active');
                });
                this.classList.add('active');
                
                // Display Původní verze content if the 'puvodni' link is clicked
                if (this.id === 'puvodni') {
                    document.querySelectorAll('verze[typ="puvodni"]').forEach(function(verze) {
                        verze.style.display = 'inline';
                    });
                    document.querySelectorAll('verze[typ="editorska"]').forEach(function(verze) {
                        verze.style.display = 'none';
                    });
                }
                // Display Editorská verze content if the 'editorska' link is clicked
                else if (this.id === 'editorska') {
                    document.querySelectorAll('verze[typ="puvodni"]').forEach(function(verze) {
                        verze.style.display = 'none';
                        
                    });
                    document.querySelectorAll('verze[typ="editorska"]').forEach(function(verze) {
                        verze.style.display = 'inline';
                    });
                }
            });
        });
    });
</script>
{% endblock %}