{% extends "web/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-3 poem-navigation">
            <ul>
                <li><a href="{% url 'poem_text' id=poem.id %}">Báseň s id={{ poem.id }} - text</a></li>
                <li><a href="{% url 'poem_in_book' id=poem.id %}">Báseň s id={{ poem.id }} - v knize</a></li>
                <li><a href="{% url 'poem_versology' id=poem.id %}">Báseň s id={{ poem.id }} - versologie</a></li>
                <li><a href="{% url 'poem_AI' id=poem.id %}">Báseň s id={{ poem.id }} - AI</a></li>
            </ul>
        </div>
        
        <div class="col-9 poem-content">
            {% block poem_content %}
            
            {% endblock %}
        </div>
    </div>
{% endblock %}