{% extends "web/poem_base.html" %}

{% block poem_title %} - AI{% endblock %}

{% block poem_content %}
    <div id="poem-versology-container">
        <div class="poem-text poem-AI">
            {% if poem_text  %}
                {{ poem_text|safe }}
            {% else %}
                <i>tato báseň nebyla zpracována nástroji umělé inteligence</i>
            {% endif %}
        </div>
    </div>
{% endblock%}

{% block poem_right_content%}
    {% if poem_in_cluster %}
        <h4>Patří do <a href="{% url 'cluster_detail' id=poem_in_cluster.cluster.id %}">shluku</a></h4>
        <p>
            <i>{{ poem_in_cluster.cluster.description }}</i>
        </p>
        <div class="progress-bar-container" data-bs-html="true" data-bs-custom-class="tooltip-custom" title="Tento shluk obsahuje {{poem_count}} básní.<br> 
            Tato báseň je {{ poem_in_cluster.rank }}. podle míry příslušnosti.<br> 
            Tato míra je číslo mezi 0 (=&nbsp;nejnižší) a 1.<br> 
            Pro tuto báseň má hodnotu {{ poem_in_cluster.score }}.">
            <div class="progress-bar" style='width: calc((1 - (({{ poem_in_cluster.rank }})/{{ poem_count}})) * 100%);'></div>
            {{ poem_in_cluster.rank }}. báseň z celkových {{ poem_count }}
        </div>
    {% endif %}
    {% if similar_poems %}
        <h4>Podobné básně</h4>
        <p><i>Deset básní ze stejného shluku jejichž vektorová reprezentace je zobrazené básni nejblíže.</i></p>
        <ol id="similar-poems">
        {% for spoem in similar_poems %}
            <li>
                <a href="{% url 'poem_AI' id=spoem.id %}">{{ spoem.title|striptags|safe }}</a>
                {% if spoem.author %}
                    ({{spoem.author }})
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        function markGeoEntityOccurences() {
            const geoEntites = document.querySelectorAll('div.poem-text w[d-geo="1"]');
            geoEntites.forEach((geoTag) => {
                geoTag.classList.add("entity-present");
                geoTag.classList.add("geo-entity-present");
                geoTag.id = null;
                const wikiId = geoTag.getAttribute("d-geo-wiki");
                if(wikiId && wikiId.trim() !== "") {
                const wikiLink = document.createElement("a");
                wikiLink.href = `https://www.wikidata.org/wiki/${wikiId}`;
                wikiLink.target = "_blank";
                wikiLink.innerText = `${wikiId}`;
                geoTag.appendChild(wikiLink);
                }
            });
        }

        if(window.innerWidth > 768) {
            var headingHeight = getElementHeightWithMargin(document.querySelector('nav')) 
                            +  getElementHeightWithMargin(document.querySelector('#page-title-wrapper'))
                            + getElementHeightWithMargin(document.querySelector('footer'))
                            +  44; 
            $('#book-content-wrapper').height(document.documentElement.clientHeight - headingHeight);
        }

        $('.progress-bar-container').tooltip()

        // verse numbers
        const container = document.querySelector('#poem-versology-container');
        // Get all strofa elements within the container
        const strofas = container.querySelectorAll('strophe');

        // Iterate over each strofa
        strofas.forEach(function(strofa, strofaIndex) {
            // Get all verse (<v>) elements within the current strofa
            const verses = strofa.querySelectorAll('verse');

            // Iterate over each verse
            verses.forEach(function(verse, verseIndex) {
                // Create a span element for the verse number
                const verseNumberSpan = document.createElement('span');
                verseNumberSpan.classList.add('verse-number');
                // Set the text of the span to match the format {strofaIndex + 1}-{verseIndex + 1}
                verseNumberSpan.textContent = `${strofaIndex + 1}-${verseIndex + 1}`;

                // Insert the verse number span before the verse text
                verse.insertBefore(verseNumberSpan, verse.firstChild);
            });
        });

        markGeoEntityOccurences();
    });
</script>
{% endblock %}